html, body {
    height: 100%; /* This ensures that the body takes the full height of the viewport */
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Aligns children elements vertically */
    justify-content: flex-end; /* Aligns children to the end (bottom) of the container */
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Welcome screen overlay and content styles */
.welcome-screen {
    align-items: center;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Above all other content */
}

.welcome-content h1 {
    margin-bottom: 80px;
    text-align: center;
}

/* Start button styles */
#startButton {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    left: 50%;
    margin: 4px 2px;
    padding: 15px 32px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
}

#startButton:hover {
    background-color: #45a049; /* Darker green on hover */
}


/* Hidden class for welcome screen */
.welcome-screen.hidden {
    display: none;
}



#pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
}


/* ===============================================
============== DRAFT SCREEN --- HEADER==================
=============================================== */


/* Reset button container at the top right */
#resetButtonContainer {
    padding: 10px;
    position: absolute;
    right: 10px; /* Adjust as needed */
    align-items: center;
}

/* Reset button styles */
#resetButton {
    background-color: #AF4F4C; /* Red */
    border: none;
    border-radius: 50px; /* Rounded */
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}


#resetButton:hover {
    background-color: #ea4842; /* Darker red on hover */
}

#startRound {
    background-color: #4c80af;
    border: none;
    border-radius: 50px; /* Rounded */
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    text-decoration:wavy;
}

#startRound:hover {
    background-color: #65acea;
}

#startRound.gray-button {
    background-color: gray;
    color: white;
}

@keyframes glow {
    0%, 100% { 
        box-shadow: 0 0 10px 5px #45a049; /* More subtle glow */
    }
    50% { 
        box-shadow: 0 0 20px 10px #45a049; /* Brighter glow */
    }
}


#draftLogicContainer.glowing-gold {
    transition: all .8s ease-in-out;
    background-color: #45a049;
    box-shadow: 0 0 30px 10px #45a049; /* Inner glow */
    animation: glow 3s infinite ease-in-out;
}

#draftLogicContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align children */
    justify-content: center; /* Vertically center */
    height: 100%;
    padding: 20px;
    /* Other styles... */
}

#resetButtonContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    /* Other styles... */
}

#dynamicContent {
    text-align: center; /* Center align text */
    margin-top: 0px; /* Spacing from the reset button */
}

#playerInfo h2, #playerInfo p {
    margin: 5px 0; /* Vertical spacing */
}

#playerInfo h2 {
    font-size: 2em; /* Slightly larger font for nominated player */
}

#playerInfo p {
    font-size: 1em; /* Standard font size for highest bidder */
}

#bidControls {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Align items in the middle */
    justify-content: center; /* Vertically center */
    margin-top: 15px; /* Spacing from player info */
}

#currentBid {
    font-size: 3em; /* Larger font for bid amount */
    margin-bottom: 10px; /* Spacing above the buttons */
}

#buttonContainer {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    width: 100%; /* Full width to accommodate child elements */
    margin-top: 5px; /* Spacing from the current bid */
}

#inputButtonContainer {
    flex: 1;
    display: flex;
    margin-right: 100px; /* Spacing between the input/button container and the pass button */
}

#bidInput {
    flex: 1; /* Allows the input to take twice as much space as the bid button */
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#bidButton {
    flex: 3; /* The bid button takes up the remaining space */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #4CAF50;
    color: white;
    border: none;
}

#bidButton:hover {
    background-color: #45a049;
}

#bidButton:disabled {
    background-color: gray;
    color: white;
}

#passButton {
    flex: 1;
    cursor: pointer;
    color: red;
    background-color: transparent;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-radius: 5px;
}

#passButton:hover {
    background-color: red;
    color: white;
    border-color: red;
}







/* ===============================================
============== DRAFT SCREEN --- DRAFT LOGIC==================
=============================================== */

#draftLogicContainer {
    flex-grow: 1; /* Grow to take up all available space */
    background-color: #f4f4f4; /* Light background for contrast */
    padding: 20px; /* Add some padding for internal spacing */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle inner shadow for depth */
    overflow-y: auto; /* In case the content overflows */
    color: #333; /* Dark text for readability */
    font-size: 1em; /* Standard font size, adjust as needed */
    position: relative
}



/* ===============================================
============== DRAFT SCREEN --- Bottom HALF==================
=============================================== */






#mainContainer {
    margin-top: auto;
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

  

#nominationOrder {
    flex: 0 0 auto; /* Don't grow or shrink, but be automatically sized by content */
    margin-left: 20px;
    margin-right: 80px; /* Space between the list and the table */
    /* width: 200px; Uncomment this if you want a specific width */
}

#nominationOrderList li.current-nominator {
    background-color: rgba(255, 215, 0, 0.8);
    box-shadow: 0px 4px 8px rgba(255, 215, 0, 0.8);
}


#nominationOrderList {
    list-style: none; /* Removes default list item styling */
    padding: 0; /* Resets any default padding */
}

#nominationOrderList li {
    background-color: #4c80af; /* Choose a color for your bubbles */
    border-radius: 20px; /* Adjust as needed to create an oval shape */
    color: white; /* Text color */
    margin: 10px 0; /* Adds space between list items */
    padding: 10px 20px; /* Adjust padding to control the size of the bubbles */
    text-align: center; /* Center the text inside the bubble */

    /* Optional: Add a shadow or other effects */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
    /* Optional: Add a transition for hover effects */
    transition: background-color 0.3s, transform 0.3s;
}

#teamSelectContainer {
    display: flex;
    justify-content: space-between; /* Pushes children to the edges */
    align-items: center; /* Vertically centers children */
    margin-bottom: 20px;
    border: 1px solid #f4f4f4; /* Add a thin border */
    border-radius: 5px; /* Round the corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Add a box shadow */
}

#teamDropdown {
    flex-grow: 1; /* Allows the dropdown to take up remaining space */
    margin-right: 20px; /* Adds some space between the dropdown and the button */
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: inherit;
    margin-left: 100px;
    border-radius: 5px;
  }

.tab button {
    background-color: inherit;
    border: #4c80af;
    outline: #4c80af;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 12px;
    flex-shrink: 0; /* Prevent the button from shrinking */
    border-radius: 15px;
    border-width: 5px;
}
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #4c80af;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }  

#teamDropdown{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 35px;
}


#teamDisplayContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1; /* Take up the remaining space */
    min-width: 800px;
    justify-content: center; /* Vertically center */
    align-items: center; /* Center align children */
    max-height: 60vh; /* Set the max height to 100% of the viewport height */
    overflow-y: auto;
    padding-top: 50px;
}


#rosterTable {
    /* Add styles for the table here */
    width: 100%; /* Make the table take up the full width of the container */
    border-collapse: collapse; /* Remove space between table cells */
    max-height: fit-content; /* Prevent the table from growing too large */
}

#rosterTable th {
    background-color: #4CAF50; /* Change this to any color you like */
    color: white;
    font-size: 20px;
    text-align: center;
}

#rosterTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

#teamDisplayContainer tr:nth-child(even) {
    /* Add styles for every other table row here */
    background-color: #ddd; /* Light gray background */
}

#tableAndSearchContainer {
    display: flex;
    flex-direction: column;
    flex: 1; /* Take up the remaining space */
}

#searchBarContainer {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.4);
    padding: 10px;
    position: sticky;
    top: 0; /* Stick to the top */
    width:100; /* Match the width of the table */
    z-index: 20;
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Pushes children to the edges */
}

#searchBarContainer > div:first-child {
    display: flex;
}

.tablinks {
    background-color: inherit;
    border: #4c80af;
    outline: #4c80af;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 12px;
    flex-shrink: 0; /* Prevent the button from shrinking */
    border-radius: 15px;
    border-width: 5px;
}

.tablinks:hover {
    background-color: #4c80af;
}

#searchInput {
    padding: 8px;
    width: 80%; /* Match the full width of the search bar container */
    margin-right: 10px;
}



 

#tableContainer {
    max-height: 60vh; /* Set the max height to 100% of the viewport height */
    padding: 10px;
    overflow-y: auto;
    width: 100%; /* Ensure it takes the full width of its parent */
}

#playerTable {
    padding: 10px;
    width: 100%; /* Ensure the table stretches to the width of its container */
}

#spacer {
    /* Adjust this as needed or remove if not used */
    flex: 0 0 auto; /* Don't grow or shrink */
}

/* Player table styles */
#playerTable {
    border-collapse: collapse;
    width: 100%;
}

#playerTable th, #playerTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

#playerTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#playerTable tr:nth-child(odd) {
    background-color: white;
}

#playerTable button {
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 12px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

#playerTable button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#playerTable th {
    background-color: #4CAF50;
    color: white;
}

#playerTable thead th {
    background-color: #4CAF50;
    color: white;
}

#playerTable thead th {
    position: sticky;
    top: [Height of the searchBarContainer]; /* Adjust this value */
    background-color: #4CAF50;
    z-index: 10;
}

#positionDropdown {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 35px;
}

#roundSummariesContainer {
    display: flex;
    flex: 1;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Ensure it fits in the flex item */
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
    margin-left: 20px; 
}

#roundSummariesList {
    list-style: none;
    padding: 0;
    max-height: calc(100vh - 300px); /* Viewport height minus some margin */
    overflow-y: auto; /* Enables vertical scrolling */
    background-color: #4CAF50; /* Background color */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Box shadow for effect */
    padding: 10px;
    margin: auto; /* Centers the element horizontally */
    display: block; /* Required for margin: auto to work */
}
#roundSummariesList li {
    background-color: rgba(128, 128, 128, 0.5); /* Light and opaque gray background color for each item */
    color: whitesmoke; /* Text color */
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 10px; /* Rounded corners for items */
    border: whitesmoke;
    border-style: solid;
    border-width: 2px;
}







