<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<!-- Welcome Screen Overlay -->
<div id="welcomeScreen" class="welcome-screen">
    <div class="welcome-content">
        <h1>Welcome to the Cottage League Mock Drafter</h1>
        <button id="startButton">Let's Do It</button>
    </div>
</div>


<div id="pageContainer">

        
    
    <div id="draftLogicContainer">
        <!-- Reset Button Container -->
        <div id="resetButtonContainer">
            <button id ="startRound">Start Round</button>
            <button id="resetButton">Reset Draft</button>
        </div>
    
        <!-- Dynamic Content Area -->
        <div id="dynamicContent">
            <div id="playerInfo">
                <h2 id="nominatedPlayer">Player Nominated: </h2>
                <p id="highestBidder">Highest Bidder: </p>
            </div>

            <div id="bidControls">
                <span id="currentBid">0</span> <!-- Default bid value -->

                <div id="buttonContainer">

                    <div id="inputButtonContainer">
                        <input type="number" id="bidInput" min="1" max="186" value="1">
                        <button id="bidButton">Bid</button>
                    </div>                
                    <button id="passButton">Pass</button>
                </div>
            </div>
        </div>
    </div>
    


    <div id="mainContainer">
        <div id="nominationOrder">
            <h3>Nomination Order:</h3>
            <ul id="nominationOrderList">
                <!-- List items will be added here by the JavaScript -->
            </ul>
        </div>
        <!-- Tabs -->

        <!-- Search & Table Content -->
        <div id="SearchAndTable" class="tabcontent">
            <div id="searchAndTableContainer">
                <!-- Search Bar Container -->
                <div id="searchBarContainer">
                <div>
                    <input type="text" id="searchInput" placeholder="Search players...">
                    <select id="positionDropdown">
                        <option value="All" selected>All</option>
                        <option value="QB">QB</option>
                        <option value="RB">RB</option>
                        <option value="WR">WR</option>
                        <option value="TE">TE</option>
                        <option value="FLEX">FLEX</option>
                    </select>
                </div>
                <div
                    <button class="tablinks" onclick="openTab(event, 'TeamDisplay')">Team Display</button>
                </div>    
                </div>
                <!-- Table Container -->
                <div id="tableContainer">
                    <!-- Player Table -->
                    <table id="playerTable">
                        <thead>
                            <tr>
                                <th>Nominate</th>
                                <th>Name</th>
                                <th>Estimated Value</th>
                                <th>Position</th>
                                <th>Positional Rank</th>
                                <th>Projected Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Player rows will be added here dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

            <!-- "The display for the teams"-->
            <div id="TeamDisplay" class="tabcontent">
                <div id="teamSelectContainer">
                    <!-- Dropdown to select a team -->
                    <select id="teamDropdown" onchange="updateTeamDisplay(this.value)">
                        <option value="1">My Team</option>
                        <option value="2">Team 2</option>
                        <option value="3">Team 3</option>
                        <option value="4">Team 4</option>
                        <option value="5">Team 5</option>
                        <option value="6">Team 6</option>
                        <option value="7">Team 7</option>
                        <option value="8">Team 8</option>
                        <option value="9">Team 9</option>
                        <option value="10">Team 10</option>
                    </select>

                    <div class="tab">
                        <button class="tablinks" onclick="openTab(event, 'SearchAndTable')">Show Players</button>
                    </div>
                </div>
               

                <div id="teamDisplayContainer">
                    <table id="rosterTable">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Rows will be added here dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>

        <div id="roundSummariesContainer">
            <h3>Round Summaries:</h3>
            <ul id="roundSummariesList">
                <!-- List items will be added here by the JavaScript -->
            </ul>
        </div>
    </div>
</div>


<div id="app">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</div>
</body>
</html>
